{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<header id="page-header" class="row">
    <div class="col-12 pt-3 pb-3">
        <div class="card">
            <div class="card-body">
                <div class="float-sm-right context-header-settings-menu">
                    {{{settingsmenu}}}
                </div>
                <div class="float-sm-left">
                    {{{contextheader}}}
                </div>
                {{#hasnavbar}}
                    <div id="page-navbar" class="clearfix w-100  float-sm-left">
                        <div class="breadcrumb-nav">
                            {{{navbar}}}
                        </div>
                        <div class="breadcrumb-button float-sm-right">
                            {{{pageheadingbutton}}}
                        </div>
                    </div>
                {{/hasnavbar}}
                {{^hasnavbar}}
                    {{#pageheadingbutton}}
                    <div class="breadcrumb-button float-sm-right">
                        {{{pageheadingbutton}}}
                    </div>
                    {{/pageheadingbutton}}
                {{/hasnavbar}}
                <div id="course-header">
                    {{{courseheader}}}
                </div>
            </div>
        </div>
    </div>
</header>